@charset "UTF-8";
.box {
	width: 100%;
	padding: 5px;
	background:transparent;
}
.text {
	text-decoration: none;
}
.currentPage {
	font-weight:bold;
}
h1, th, td:not(#exclude) {
	text-align: center;
}
a{
	text-decoration: none;
}